# Debug
DEBUG='@natlibfi/*'
LOG_LEVEL='info'

# General
HTTP_PORT='8080'
ENABLE_PROXY='0'

# Data requests
MELINDA_API_PASSWORD=''
MELINDA_API_USERNAME=''
MELINDA_API_URL='https://xxx.melinda-test.kansalliskirjasto.fi/'

# Aleph auth
ALEPH_X_SVC_URL=''
ALEPH_USER_LIBRARY=''
OWN_AUTHZ_URL=''
OWN_AUTHZ_API_KEY=''
JWT_SECRET=''

# Keycloak auth. Not in use
KEYCLOAK_AUDIENCE=''
KEYCLOAK_BASE_URL=''
KEYCLOAK_CLIENT_ID=''
KEYCLOAK_ISSUER_BASE_URL=''
KEYCLOAK_SECRET=''

# Shared components locations
#SHARED_PARTIALS_LOCATION='../node_modules/@natlibfi/melinda-ui-commons/src/views/partials'
#SHARED_PUBLIC_LOCATION='../node_modules/@natlibfi/melinda-ui-commons/src'
#SHARED_VIEWS_LOCATION='../node_modules/@natlibfi/melinda-ui-commons/src/views'