/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* General styles for Viewer app -----------------------------------------------*/
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------- */
/* ---App background color---*/

#viewer {
  background-color: var(--color-primary-white);
}

/* ---------------------------------------------------------------------------- */
/* ---Correlation id font helper---*/

/* For span elements */
#viewer span.correlation-id-font {
  font-family: var(--font-family-mono);
  cursor: text;
}