<!-- [Log and record partial (panelLogRcord.hbs)] -->
<div class="record-and-info-panels">

  <!-- Record info panel contains general info about the log -->
  <div id="recordsInfo" class="records-info-panel box-shadow">
    <div id="panelHeader" class="info-panel-header title">LOKIN LISÄTIEDOT</div>
    <div id="panelContent" class="info-panel-content">
      <div id="infoCol1" class="panel-content-col"></div>
      <div id="infoCol2" class="panel-content-col"></div>
    </div>
  </div>

  <!-- Record merge panel contains the marc records of the log -->
  <div class="record-merge-panel">

    <div class="col">
      <div id="record1" class="box-shadow">

        <div class="header">
          <p class="title">Sisääntuleva tietue</p>
          <div class="show-hide-buttons-wrap">
            <button id="showNote" class="material-icons tooltip icon-only small alternate-blue"
              tooltip-text="Näytä tietueinfo" onclick="return showNote(event, 'record1')">expand_more</button>
            <button id="hideNote" class="material-icons tooltip icon-only small alternate-blue"
              tooltip-text="Piilota tietueinfo" onclick="return hideNote(event, 'record1')">expand_less</button>
          </div>
        </div>

        <div class="note"></div>

        <div id="Record" class="marc-record">
        </div>

      </div>
    </div>

    <div class="col">
      <div id="record2" class="box-shadow">
        <div class="header">
          <p class="title">Melinda-tietue</p>
          <div class="show-hide-buttons-wrap">
            <button id="showNote" class="material-icons tooltip icon-only small alternate-blue"
              tooltip-text="Näytä tietuinfo" onclick="return showNote(event, 'record2')">expand_more</button>
            <button id="hideNote" class="material-icons tooltip icon-only small alternate-blue"
              tooltip-text="Piilota tietueinfo" onclick="return hideNote(event, 'record2')">expand_less</button>
          </div>
        </div>

        <div class="note"></div>

        <div id="Record" class="marc-record">
        </div>

      </div>
    </div>

    <div class="col">
      <div id="record3" class="box-shadow">

        <div class="header">
          <p class="title">Yhdistetty tietue</p>
          <div class="show-hide-buttons-wrap">
            <button id="showNote" class="material-icons tooltip icon-only small alternate-blue"
              tooltip-text="Näytä tietueinfo" onclick="return showNote(event, 'record3')">expand_more</button>
            <button id="hideNote" class="material-icons tooltip icon-only small alternate-blue"
              tooltip-text="Piilota tietuinfo" onclick="return hideNote(event, 'record3')">expand_less</button>
          </div>
        </div>

        <div class="note"></div>

        <div id="Record" class="marc-record">
        </div>

      </div>
    </div>

    <!-- MATCH LOG SPECIFIC COLUMN FOR RECORD-->
    <div class="col" style="display: none">
      <div id="record4" class="box-shadow">
        <div class="header">
          <p class="title">Vastaava Melinda-tietue</p>
          <div class="flex-column select">
            <select id="match" onchange="return loadMatch(event)"></select>
          </div>
          <div class="show-hide-buttons-wrap">
            <button id="showNote" class="material-icons tooltip icon-only small alternate-blue"
              tooltip-text="Näytä tietueinfo" onclick="return showNote(event, 'record4')">expand_more</button>
            <button id="hideNote" class="material-icons tooltip icon-only small alternate-blue"
              tooltip-text="Piilota tietueinfo" onclick="return hideNote(event, 'record4')">expand_less</button>
          </div>
        </div>

        <div class="note"></div>

        <div id="Record" class="marc-record">
        </div>

      </div>
    </div>

  </div>

</div>